<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css" ttype="text/css">
    <!--<link rel="stylesheet" href="/c/style.css" type="text/css">-->
  </head>
  <body>
    <div id="container">
      <div class="header">
      <h1>CODEBREAKER</h1>
      <p>Codebreaker is a logic game in which a code-breaker tries to break a secret code created by a code-maker. The code-maker, which will be played by the application we’re going to write, creates a secret code of four numbers between 1 and 6.</p>
      <p>The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a guess of four numbers. The code-maker then marks the guess with up to four + and - signs.</p>
      <p>A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.</p>
      <p>A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.</p><br/>
      </div>

      <div class="main">
                    
        <% if @game.nil? %>
          <div class="start">
            <form method="post" action="/init">
              <input name="user_name" type="text"/>
              <br>
              <input type="submit" value="start"/>
            </form>
          </div> 
        
        <% elsif !(@game.win? || @game.lose?) %>      
        
          <div class="left_panel">  
            <table>
              <tr>
                <th>User name</th>
                <th>Scores</th>
                <th>Total</th>
                <th>Best</th>
              </tr>                        
              <% @game.saver.users.each_value do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.score %></td>
                <td><%= user.attempts_total %></td>
                <td><%= user.best_attempt %></td>
              </tr>
              <% end %>         
            </table>            
          </div>
          
          <h1><%= @game.user.name%></h2>
          <ul class="hr">            
            <li>score: <%= @game.user.score %></li>
            <li>attemps: <%= @game.attemp %></li>
          </ul>       
          
          <!--<p><%= @game.instance_variable_get(:@secret_code)%></p>--> <!--это нужно удалить -->
          
          <form method="post" action="/check">
            <input name="guess" type="text" pattern="[1-6]{4}"/>
            <input type="submit" value="check!"/>
          </form>           
          
          <form method="post" action="/hint">      
            <br>
            Hint: <%if @hint_ %>
              <%= @hint_ %>   
            <% else %>   
             <input type="submit" value="hint"/>
            <% end %>
          </form>   
               
          <h5>Statistics</h5>
          <table>          
            <tr>
              <td><%= @guess_%></td>                     
              <td><%= @result_ %></td>
            </tr>
          </table>
          <% else %>
            <% if @game.win? %>
              <h1>You win!</h1>                         
            <% elsif  @game.lose? %>
              <h1>You lose!</h1>
            <% end %>
              
            Do you want play again?
            <br>
            <form method="post" action="/play_again">                 
              <input type="submit" value="start"/>              
            </form>
            <form method="post" action="/begin_">                 
              <input type="submit" value="no"/>              
            </form>
        <% end %>
        </div> 
      
    </div>
  </body>
</html>

